{% extends "base.html" %}
{% block title %} Add New Employees {% endblock title %}

{% block content %} 
<div class="col-md-12">
    <form method="post" class="post-form" action="/addnew">
        {% csrf_token %}
        <div class="container">
            <div class="col-12">
                <h3>Enter Details</h3>
 
            </div>
            <div class="mb-3">
                <label>Name:</label>
                {{form.name}}

            </div>
            <div class="mb-3">
                <label>Email:</label>
                {{form.email}}

            </div>
            <div class="mb-3">
                <label>Contact:</label>
                {{form.contact}}

            </div>
            <div class="mb3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

            
        </div>
    </form>
</div>

{% endblock content %}
